h1 {
  text-align: center;
  color: white;
  text-shadow: yellow;
  font-family: sans-serif;
  background-color: #34568b;
  border: 5px solid;
}

h3 {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
button {
  /* cursor: pointer;
  border-radius: 8px;
  text-transform: uppercase;
  font-family: sans-serif;
  background-color: transparent;
  font-size: 15px; */

  /* text-transform: uppercase;
  font-weight: bold;
  display: block;
  width: 100%;
  border: none;
  background-color: #4eb5f1;
  padding: 14px;
  font-size: 16px;
  cursor: pointer;
  text-align: center; */
  font-size: 15px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: black;
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
}

button:hover {
  background-color: orange;
  color: black;
  transform: scale(1.4);
  /* animation-name: rotate;
  animation-duration: 0.7s; */
}

/* @keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
} */

.tort-butt {
  padding-top: 10px;
  text-align: center;
}

.flax {
  padding-top: 10px;
  text-align: center;
}

.m-milk {
  padding-top: 10px;
  text-align: center;
}
